@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

._container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.title {
  color: #545454;
  font-family: "Georgia";
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 2.1px;
}

.btn {
  display: inline-block;
  position: relative;
  padding: 18px 44px;
  border-radius: 26px;
  background-color: #f1cdb3;
  color: #292929;
  cursor: pointer;
}

.btn:hover {
  background-color: #fddcc4;
}

body {
  background: #fafafa;
  font-family: Arial;
}

body.lock {
  overflow: hidden;
}

.icon-menu {
  display: none;
}

.no-webp .header{
  background-image: url("../img/header-main/dog.png"), url("../img/header-main/background.png"); }

.header {
  padding: 56px 0px 270px;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: right bottom, left top;
  background-size: auto;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 242px;
}

.header__logo {
  position: relative;
  z-index: 2;
}

.header__title {
  margin-bottom: 27px;
  max-width: 350px;
  color: #ffffff;
  font-family: "Georgia";
  font-size: 44px;
  line-height: 57px;
  letter-spacing: 2.64px;
}

.header__text {
  margin-bottom: 40px;
  max-width: 450px;
  color: #cdcdcd;
  font-size: 15px;
  line-height: 24px;
}

.header__btn {
  color: #292929;
  font-family: "Georgia";
  font-size: 17px;
  letter-spacing: 1.02px;
}

.logo-header {
  cursor: pointer;
}

.logo-header__title {
  margin-bottom: 9px;
  color: #f1cdb3;
  font-family: "Georgia";
  font-size: 32px;
  letter-spacing: 1.7px;
}

.logo-header__subtitle {
  color: #ffffff;
  font-size: 13px;
  letter-spacing: 1.45px;
}

.icon-menu {
  margin-right: 10px;
}

.menu__list {
  list-style: none;
}

.menu__list li {
  display: inline-block;
}

.menu__link {
  display: inline-block;
  position: relative;
  margin: 1px 0px 0px 33px;
  color: #cdcdcd;
  font-size: 15px;
  cursor: pointer;
}

.menu__link:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0px;
  height: 3px;
  border-radius: 1.5px;
  background-color: #f1cdb3;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link:hover:after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -5px;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background-color: #f1cdb3;
}

.header-inner {
  padding: 30px 0px 10px;
  background-color: #fafafa;
  color: #545454;
  font-family: "Arial";
}

.header-inner__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-inner__logo {
  min-width: 185px;
}

.header-inner__menu ul {
  list-style: none;
}

.header-inner__menu li {
  display: inline-block;
  margin-left: 33px;
  margin-bottom: 15px;
}

.header-inner__link {
  color: #545454;
  font-size: 15px;
}

.logo-header-inner__title {
  margin-bottom: 9px;
  color: #292929;
  font-family: "Georgia";
  font-size: 32px;
  letter-spacing: 1.7px;
}

.logo-header-inner__subtitle {
  color: #292929;
  font-size: 13px;
  letter-spacing: 1.45px;
}

.popup-area {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.popup-pet-card {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  color: #545454;
  font-family: "Georgia";
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup-pet-card:target {
  opacity: 1;
  visibility: visible;
}

.popup-pet-card:target .popup-pet-card__content {
  -webkit-transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
  opacity: 1;
}

.popup-pet-card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10px;
  width: 100%;
  height: 100%;
}

.popup-pet-card__content {
  position: relative;
  margin-top: 340px;
  width: 970px;
  height: 470px;
  -webkit-box-shadow: 0 2px 30px 5px rgba(13, 13, 13, 0.04);
          box-shadow: 0 2px 30px 5px rgba(13, 13, 13, 0.04);
  border-radius: 9px;
  background-color: #fafafa;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.no-webp .popup-pet-card__close{
  background: url("../img/pets-popup/icons/close.png") 15px 15px no-repeat; }

.popup-pet-card__close {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  cursor: pointer;
  z-index: 2;
}

.popup-pet-card__close:hover {
  background-color: #f1cdb3;
}

.popup-pet-card__row {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup-pet-card__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  height: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-pet-card__img img {
  width: 100%;
}

.popup-pet-card__card {
  padding: 65px 44px 69px 56px;
}

.popup-pet-card__name {
  margin-bottom: 20px;
  font-size: 35px;
}

.popup-pet-card__breed {
  margin-bottom: 20px;
  font-size: 20px;
}

.popup-pet-card__notes {
  color: #4c4c4c;
  font-family: "Arial";
  font-size: 15px;
  line-height: 24px;
}

.popup-pet-card__list {
  font-size: 17px;
  line-height: 34px;
}

.popup-pet-card__list .list__dot {
  display: inline-block;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #f1cdb3;
}

.popup-pet-card__list .list__note {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: 0.9px;
}

.about {
  padding: 89px 0px;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 835px;
  margin: 0 auto;
}

.about__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
}

.about__img img {
  width: 100%;
}

.about__content {
  margin-left: 118px;
}

.about__title {
  margin: 22px 0px 28px;
  max-width: 305px;
}

.about__text {
  padding: 0px 0px 0px 2px;
  color: #4c4c4c;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.about__text p {
  margin-bottom: 24px;
}

.about__text p:last-child {
  margin-bottom: 0px;
}

.pets {
  padding: 68px 0px 50px;
  background: #f6f6f6;
}

.pets__body {
  margin: 0 auto;
  max-width: 960px;
  text-align: center;
}

.pets__title {
  margin-bottom: 40px;
}

.pets__btn {
  color: #292929;
  font-family: "Georgia";
  font-size: 17px;
  letter-spacing: 1.02px;
}

.slider-pets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-pets__slide {
  margin: 25px;
}

.pets-card__body {
  width: 270px;
  height: 424px;
  background-color: #fafafa;
}

.pets-card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  width: 270px;
  height: 270px;
}

.pets-card__name {
  margin-bottom: 21px;
  color: #545454;
  font-family: "Georgia";
  font-size: 20px;
  letter-spacing: 1.2px;
}

.pets-card__btn {
  padding: 16px 44px;
  background: #fff;
  border-radius: 26px;
  border: 2px solid #f1cdb3;
  color: #292929;
  font-family: "Georgia";
  font-size: 17px;
  letter-spacing: 1.02px;
}

.pets-card__btn:hover {
  background: #f1cdb3;
}

.help {
  padding: 43px 0px 0px;
  text-align: center;
}

.help__title {
  margin: 0 auto;
  max-width: 325px;
  margin-bottom: 71px;
}

.help__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.help__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  margin: 0 0px 82px;
}

.help__icon {
  display: inline-block;
  margin: 0 auto;
  width: 65px;
  height: 65px;
  margin-bottom: 20px;
}

.help__name {
  color: #545454;
  font-family: "Georgia";
  font-size: 20px;
  letter-spacing: 1.2px;
}

.donation {
  background: #f6f6f6;
  padding: 59px 0px 50px;
  text-align: center;
}

.donation__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 31px;
}

.donation__img {
  margin-right: 62px;
  padding: 23px 0px;
  max-width: 505px;
}

.donation__img img {
  width: 100%;
}

.donation__title {
  margin-bottom: 23px;
  max-width: 360px;
}

.donation__subtitle {
  margin-bottom: 14px;
  color: #545454;
  font-family: "Georgia";
  font-size: 15px;
  letter-spacing: 0.9px;
}

.donation__number {
  margin-bottom: 29px;
  padding: 13px 0px;
  max-width: 319px;
  height: 47px;
  border-radius: 9px;
  background-color: #f1cdb3;
  color: #292929;
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 20px;
  letter-spacing: 1.2px;
  text-align: center;
  vertical-align: middle;
}

.donation__text {
  max-width: 355px;
  color: #b2b2b2;
  font-size: 12px;
  line-height: 18px;
  font-style: italic;
}

.no-webp footer{
  background-image: url("../img/footer/dog.png"), url("../img/footer/bg.png"); }

footer {
  padding: 70px 0 31px;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: auto auto, 100% 100%;
  background-position: 94% bottom, 0 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.footer__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
}

.footer__title {
  margin-bottom: 39px;
  color: #fff;
}

.footer__link {
  position: relative;
  margin-bottom: 46px;
  padding-left: 62px;
  display: block;
  color: #f1cdb3;
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 20px;
  letter-spacing: 1.2px;
}

.footer__center {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  margin-left: 150px;
}

.title-footer__center {
  margin-bottom: 28px;
}

.no-webp .link-email:before{
  background: url("../img/footer/icons/envelope.png") 0 0px no-repeat; }

.link-email:before {
  content: "";
  position: absolute;
  left: -1px;
  top: -2px;
  width: 40px;
  height: 26px;
}

.no-webp .link-tel:before{
  background: url("../img/footer/icons/telephone.png") 0 0px no-repeat; }

.link-tel:before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  width: 40px;
  height: 32px;
}

.link-map {
  margin-bottom: 29px;
  padding-left: 46px;
  line-height: 23px;
}

.no-webp .link-map:before{
  background: url("../img/footer/icons/pin.png") 0 0px no-repeat; }

.link-map:before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 26px;
  height: 36px;
}

.link-map__second:before {
  top: -6px;
}

.pets-inner {
  padding: 81px 0px 54px;
  background-color: #f6f6f6;
  text-align: center;
}

.pets-inner__title {
  margin: 0px auto 44px;
  max-width: 400px;
}

.pets-inner__row {
  margin: 0px -15px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pets-inner__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 15px;
}

.pets-inner__pages-nav {
  margin-bottom: 10px;
}

.pages-nav__link {
  display: inline-block;
  margin: 0px 2px 0px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  color: #292929;
  font-size: 20px;
  line-height: 45px;
  letter-spacing: 1.2px;
}

.pages-nav__link.active {
  background-color: #f1cdb3;
}

.pages-nav__link.dots {
  width: 50px;
  height: 50px;
  border: none;
  color: #f1cdb3;
  font-size: 36px;
}

@media (max-width: 1919.98px) {
  .header {
    background-size: 50%, auto;
  }
}

@media (max-width: 1440px) {
  .header {
    background-size: 60%, auto;
    background-position: 130% bottom, left top;
  }
}

@media (max-width: 1202px) {
  .header__top {
    margin-bottom: 170px;
  }

  .popup-pet-card__content {
    width: 700px;
  }
}

@media (max-width: 992.98px) {
  .header__top {
    margin-bottom: 140px;
  }

  .slider-pets {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .help__title {
    margin-bottom: 50px;
  }

  .pets-inner {
    padding: 50px 0px 40px;
  }

  .pets-inner__title {
    margin-bottom: 30px;
  }

  .pets-inner__row {
    margin-bottom: 30px;
  }
}

@media (max-width: 850px) {
  .donation__number {
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  body._lock {
    overflow: hidden;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 2;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: absolute;
    top: calc(50% - 1px);
    left: 0px;
    width: 100%;
    height: 2px;
    background: #bb9c66;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
  }

  .icon-menu._active span:last-child {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 8px;
  }

  .header {
    padding: 10px 0px 200px;
  }

  .header__top {
    margin-bottom: 100px;
  }

  .no-webp .header__menu{
    background: #000 url("../img/header-main/background.png") 0 0 no-repeat; }

  .header__menu {
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 100px 0px 20px;
    z-index: 1;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__menu._active {
    right: 0;
  }

  .menu__list li {
    display: block;
    margin-bottom: 20px;
  }

  .menu__link {
    font-size: 20px;
  }

  .popup-pet-card__content {
    height: 650px;
  }

  .popup-pet-card__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about {
    padding: 40px 10px;
  }

  .about__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
  }

  .about__content {
    margin-left: 70px;
  }

  .pets {
    padding: 40px 0px;
  }

  .pets__title {
    margin-bottom: 20px;
  }

  .slider-pets__slide {
    margin: 15px;
  }

  .help__title {
    margin-bottom: 40px;
  }

  .help__item {
    margin: 0px 10px 60px;
  }

  .help__name {
    font-size: 16px;
  }

  .donation__img {
    margin-right: 30px;
  }

  footer {
    padding: 50px 0px 25px;
  }

  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__center {
    margin: 0px 0px 0px 0px;
  }

  .pets-inner {
    padding: 40px 0px 30px;
  }

  .pets-inner__title {
    margin-bottom: 20px;
  }

  .pets-inner__row {
    margin: 0 -10px 20px;
  }

  .pets-inner__item {
    padding: 10px;
  }
}

@media (max-width: 700px) {
  .donation__img {
    display: none;
  }
}

@media (max-width: 479.98px) {
  .title {
    font-size: 30px;
  }

  .header__top {
    margin-bottom: 50px;
  }

  .popup-pet-card__content {
    height: 780px;
  }

  .about {
    padding: 0px 10px 30px;
  }

  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__content {
    margin: 0px 0px 0px 0px;
  }

  .help {
    margin-bottom: 0px;
  }

  .help__title {
    margin-bottom: 30px;
  }

  .help__name {
    font-size: 14px;
  }

  .donation__number {
    font-size: 14px;
  }

  .pets-inner {
    padding: 30px 0px 20px;
  }
}

.webp .header{ background-image: url(../img/header-main/dog.webp), url(../img/header-main/background.webp); }

.webp .popup-pet-card__close{ background: url(../img/pets-popup/icons/close.webp) 15px 15px no-repeat; }

.webp footer{ background-image: url(../img/footer/dog.webp), url(../img/footer/bg.webp); }

.webp .link-email:before{ background: url(../img/footer/icons/envelope.webp) 0 0px no-repeat; }

.webp .link-tel:before{ background: url(../img/footer/icons/telephone.webp) 0 0px no-repeat; }

.webp .link-map:before{ background: url(../img/footer/icons/pin.webp) 0 0px no-repeat; }

@media (max-width: 767.98px){

  .webp .header__menu{ background: #000 url(../img/header-main/background.webp) 0 0 no-repeat; }
}